@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-none;
  }
  ul li:not(:empty):before {
    content: '-';
    @apply absolute -ml-6 text-orange-300;
  }
  summary {
    @apply text-orange-300
  }
}

@layer components {
  .raster:after {
    content: '';
    background: repeating-linear-gradient(90deg, #fdba74, #fdba74 2px, transparent 0, transparent 10px);
    @apply block w-full;
  }
}
